{% extends ":default:index.html.twig" %}

{% block content %}
    {% if infoline is defined %}<h2 class="text-center index-welcome">{{ infoline }}</h2><br>{% endif %}
    <h3>All appointments:</h3><br>
        <ol>
            {% for appointment in appointments %}
                <li>
                    <h4 class="text-primary">Appointment date: {{ appointment.date|date("d F Y") }}</h4>
                    <p class="text-success">Doctor: {{ appointment.doctor }}</p>
                    <ol>
                        {% for time in appointment.time %}
                            <li>
                                <p class="text-warning">Appointment time: {{ time.fromTime|date("h:i") }} - {{ time.toTime|date("h:i") }}
                                {% if time.pacient is not null %}
                                    {% if time.pacient == pacient %}
                                    <p class="text-danger">Pacient: {{ time.pacient }}</p>
                                    <form role="form" action="{{ path('unRecordPacientToDoc') }}" method="POST">
                                        <input type="hidden" name="time" value="{{ time.id }}">
                                        <button type="submit" class="btn btn-default">unrecord yourself</button>
                                    </form>
                                    {% else %}
                                        <p class="text-danger">Some one has already recorded</p>
                                {% endif %}
                                {% else %}
                                <form role="form" action="{{ path('recordPacientToDoc') }}" method="POST">
                                    <input type="hidden" name="time" value="{{ time.id }}">
                                    <button type="submit" class="btn btn-default">record yourself to this time</button>
                                </form>
                                {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ol>
{% endblock content %}

