{% extends ":default:index.html.twig" %}

{% block content %}
    {% if infoline is defined %}<h2 class="text-center index-welcome">{{ infoline }}</h2><br>{% endif %}
    <h3>All appointments:</h3><br>
        <ol>
            {% for appointment in appointments %}
                <li>
                    <h4 class="text-primary">{{ 'Appointment.date'|trans({},"messages") }} {{ appointment.date|date("d F Y") }}</h4>
                    <p class="text-success">{{ 'Appointment.Doctor'|trans({},"messages") }} {{ appointment.doctor }}</p>
                    <ol>
                        {% for time in appointment.time %}
                            <li>
                                <p class="text-warning">{{ 'Appointment.time'|trans({},"messages") }} {{ time.fromTime|date("h:i") }} - {{ time.toTime|date("h:i") }}
                                {% if time.pacient is not null %}
                                    {% if time.pacient == pacient %}
                                    <p class="text-danger">{{ 'Appointment.Pacient'|trans({},"messages") }} {{ time.pacient }}</p>
                                    <form role="form" action="{{ path('unRecordPacientToDoc') }}" method="POST">
                                        <input type="hidden" name="time" value="{{ time.id }}">
                                        <button type="submit" class="btn btn-default">{{ 'Appointment.unrec'|trans({},"messages") }}</button>
                                    </form>
                                    {% else %}
                                        <p class="text-danger">{{ 'Appointment.someonerec'|trans({},"messages") }}</p>
                                {% endif %}
                                {% else %}
                                <form role="form" action="{{ path('recordPacientToDoc') }}" method="POST">
                                    <input type="hidden" name="time" value="{{ time.id }}">
                                    <button type="submit" class="btn btn-default">{{ 'Appointment.rec'|trans({},"messages") }}</button>
                                </form>
                                {% endif %}
                                </p>
                            </li>
                        {% endfor %}
                    </ol>
                </li>
            {% endfor %}
        </ol>
{% endblock content %}

