{% extends "::base.html.twig" %}

{% block body %}

   <!-- Navigation -->
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
               <img src="http://placehold.it/150x50&text=Logo" alt="">
            </a>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
               <li>
                  <a href="#">Personal</a>
               </li>
               <li>
                  <a href="#">Services</a>
               </li>
               <li>
                  <a href="#">Contact</a>
               </li>
            </ul>
            <ul class="nav navbar-nav login-menu">
               <li>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     <a href="#"> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a>
                  {% endif %}

               </li>
               <li>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                  {% else %}
                     <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                  {% endif %}
               </li>
            </ul>

            </div>
         </div>
         <!-- /.navbar-collapse -->
      </div>
   </nav>

   <div class="container">
      <div class="row">
   <!-- Page Content -->
   {% block content %}

         <div class="col-md-10">
            <h1>Welcome to our Clinic!</h1>
            {% if is_granted('ROLE_USER') %}
               <p>You granted as role - USER!</p>
            {% endif %}
         </div>

   {% endblock content %}

         <div class="col-md-2">
            {% block logincontent %}{% endblock logincontent %}
         </div>

      </div>
   </div>
{% endblock %}