{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            {{ form_errors(form.isDoctor) }}
            {{ form_label(form.isDoctor, 'Are you a doctor?') }}
            {{ form_widget(form.isDoctor) }}
        </div>
    {% endif %}
        <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, 'Email:') }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.username) }}
            {{ form_label(form.username, 'Username:') }}
            {{ form_widget(form.username) }}
        </div>
        <div class="form-group">
            {{ form_errors(form.card_number) }}
            {{ form_label(form.card_number, 'Card number:') }}
            {{ form_widget(form.card_number) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.plainPassword) }}
        </div>
        {{ form_widget(form._token) }}

    <div class="form-group">
            <input class="blogin btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>


</form>
