{% extends ":default:index.html.twig" %}

{% block content %}
<h3>Please fill in doctors login details:</h3><br>

<form action="{{ path('docLoginRegister') }}" {{ form_enctype(form) }} method="POST">
    <div class="form-horizontal col-md-12">
        <div class="form-group">
            <div class="col-sm-12">{{ form_errors(form.email) }}</div>
            <div class="col-sm-2 control-label">{{ form_label(form.email, 'Email:') }}</div>
            <div class="col-sm-6">{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">{{ form_errors(form.username) }}</div>
            <div class="col-sm-2 control-label">{{ form_label(form.username, 'Username:') }}</div>
            <div class="col-sm-6">{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">{{ form_errors(form.plain_password) }}</div>
            <div class="col-sm-2 control-label">{{ form_label(form.plain_password, 'Password:') }}</div>
            <div class="col-sm-6">{{ form_widget(form.plain_password, {'attr': {'class': 'form-control'}}) }}</div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">{{ form_errors(form.card_number) }}</div>
            <div class="col-sm-2 control-label">{{ form_label(form.card_number, 'Card number:') }}</div>
            <div class="col-sm-6">{{ form_widget(form.card_number, {'attr': {'class': 'form-control'}}) }}</div>
        </div>

        <input type="hidden" name="" value="{{ app.user.getCardNumber  }}">

        <input type="hidden" name="{{ form.email.vars.full_name }}" value="{{ app.user.getEmail  }}">

        <div class=" form-group">
            <input class="col-md-offset-7 blogin btn btn-primary" type="submit" value="{{ 'registration.submit'|trans({},'FOSUserBundle') }}" />
        </div>

    </div>

</form>
{% endblock content %}


