{% extends ":default:index.html.twig" %}

{% block content %}
{% if app.user.getIsDoctor == true %}
{% if infoline is defined %}<h2 class="text-center index-welcome">{{ infoline }}</h2><br>{% endif %}

<h3>Welcome Doctor {{ app.user.getUserName }} to your office!</h3>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Doctor's <strong>Panel</strong></h2>
                <hr>
            </div>
            <div class="col-md-12">
                <a class="btn btn-danger" role="button" href="{{ path('createPacientHistory') }}">Create new pacient history</a>
                <a class="btn btn-primary" role="button" href="{{ path('docPacientHistory') }}">View your pacients</a>
                <a class="btn btn-success" role="button" href="{{ path('allPacientHistory') }}">View all pacients histories</a><br><br>
                <a class="btn btn-danger" role="button" href="{{ path('createNewAppointment') }}">Create new appointment day</a>
                <a class="btn btn-primary" role="button" href="#">View your appointments</a>
                <a class="btn btn-success" role="button" href="#">View all appointments</a><br>
            </div>
        </div>
    </div>
    {% block DocContent %}
    {% endblock DocContent %}
{% endif %}
{% endblock content %}


